DB_USER=postgres
DB_PASS=postgres
DB_NAME=booking_service_db
DB_PORT=5432
DB_HOST=postgres

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=YOUR KEY

BOT_TOKEN=YOUR TOKEN
BOT_PORT=8080
BOT_HOST=0.0.0.0
BOT_URL=YOUR URL
EXTERNAL_REQUEST_PATH=/external-data


NGROK_AUTHTOKEN=YOUR NGROK TOKEN

SERVICE_EMAIL=YOUR SERVICE EMAIL
APP_PASSWORD=YOUR EMAIL APP PASSWORD