fastapi==0.115.8
uvicorn[standard]==0.34.0 
SQLAlchemy==2.0.48
asyncpg==0.31.0
greenlet==3.3.2
alembic==1.14.1     
pydantic==2.12.5
pydantic-settings==2.13.1
annotated-types==0.7.0
python-dotenv==1.2.2
aiohttp==3.11.12          
passlib[bcrypt]==1.7.4
python-multipart==0.0.20  
pyjwt==2.10.1
ruff==0.9.6
mypy==1.15.0